In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

Saving quikr_car.csv to quikr_car.csv

{'quikr_car.csv': b'name,company,year,Price,kms_driven,fuel_type\nHyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol\nMahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel\nMaruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol\nHyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol\nFord EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel\nFord EcoSport Titanium 1.5L TDCi,Ford,2015,Ask For Price,"59,000 kms",Diesel\nFord Figo,Ford,2012,"1,75,000","41,000 kms",Diesel\nHyundai Eon,Hyundai,2013,"1,90,000","25,000 kms",Petrol\nFord EcoSport Ambiente 1.5L TDCi,Ford,2016,"8,30,000","24,530 kms",Diesel\nMaruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000 kms",Petrol\nSkoda Fabia Classic 1.2 MPI,Skoda,2010,"1,82,000","60,000 kms",Petrol\nMaruti Suzuki Stingray VXi,Maruti,2015,"3,15,000","30,000 kms",Petrol\nHyundai Elite i20 Magna 1.2,Hyundai,2014,"4,15,000","32,000 kms",Petrol\nMahindra Scorpio SLE BS IV,Mahindra,2015,"3,20,000","48,660 kms",Diesel\nHyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol\nMahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel\nAudi A8,Audi,2017,"10,00,000","4,000 kms",Petrol\nAudi Q7,Audi,2014,"5,00,000","16,934 kms",Diesel\nMahindra Scorpio S10,Mahindra,2016,"3,50,000","43,000 kms",Diesel\nMaruti Suzuki Alto 800,Maruti,2014,"1,60,000","35,550 kms",Petrol\nMahindra Scorpio S10,Mahindra,2016,"3,50,000","43,000 kms",Diesel\nMahindra Scorpio S10,Mahindra,2016,"3,10,000","39,522 kms",Diesel\nMaruti Suzuki Alto 800 Vxi,Maruti,2015,"75,000","39,000 kms",Petrol\nHyundai i20 Sportz 1.2,Hyundai,2012,"1,00,000","55,000 kms",Petrol\nHyundai i20 Sportz 1.2,Hyundai,2012,"1,00,000","55,000 kms",Petrol\nHyundai i20 Sportz 1.2,Hyundai,2012,"1,00,000","55,000 kms",Petrol\nMaruti Suzuki Alto 800 Lx,Maruti,2017,"1,90,000","72,000 kms",Petrol\nMaruti Suzuki Vitara Brezza ZDi,Maruti,2016,"2,90,000","15,975 kms",Diesel\nMaruti Suzuki Alto LX,Maruti,2008,"95,000","70,000 kms",Petrol\nMahindra Bolero DI,Mahindra,2017,"1,80,000","23,452 kms",Diesel\nMaruti Suzuki Swift Dzire ZDi,Maruti,2014,"3,85,000","35,522 kms",Diesel\nMahindra Scorpio S10 4WD,Mahindra,2015,"2,50,000","48,508 kms",Diesel\nMaruti Suzuki Swift Vdi BSIII,Maruti,2017,"1,80,000","15,487 kms",Petrol\nMaruti Suzuki Wagon R VXi BS III,Maruti,2013,"1,05,000","39,000 kms",Petrol\nMaruti Suzuki Wagon R VXi Minor,Maruti,2013,"1,05,000","39,000 kms",Petrol\nToyota Innova 2.0 G 8 STR BS IV,Toyota,2012,"6,50,000","82,000 kms",Diesel\nRenault Lodgy 85 PS RXL,Renault,2018,"6,89,999","20,000 kms",Diesel\nSkoda Yeti Ambition 2.0 TDI CR 4x2,Skoda,2012,"4,48,000","68,000 kms",Diesel\nMaruti Suzuki Baleno Delta 1.2,Maruti,2017,"5,49,000","32,000 kms",Diesel\nRenault Duster 110 PS RxZ Diesel Plus,Renault,2012,"5,01,000","38,000 kms",Diesel\nRenault Duster 85 PS RxE Diesel,Renault,2013,"4,89,999","27,000 kms",Diesel\nHonda City 1.5 S MT,Honda,2011,"2,80,000","33,000 kms",Petrol\nMaruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000 kms",Petrol\nMaruti Suzuki Dzire,Maruti,2013,"3,49,999","46,000 kms",Diesel\nHonda Amaze,Honda,2013,"2,84,999","46,000 kms",Diesel\nHonda Amaze 1.5 SX i DTEC,Honda,2015,"3,45,000","36,000 kms",Diesel\nHonda City,Honda,2015,"4,99,999","55,000 kms",Petrol\nDatsun Redi GO S,Datsun,2017,"2,35,000","16,000 kms",Petrol\nMaruti Suzuki SX4 ZXI MT,Maruti,2010,"2,49,999","36,000 kms",Petrol\nMitsubishi Pajero Sport Limited Edition,Mitsubishi,2015,"14,75,000","47,000 kms",Diesel\nMahindra Bolero DI,Mahindra,2017,"1,80,000","23,452 kms",Diesel\nMaruti Suzuki Swift Dzire ZDi,Maruti,2014,"3,85,000","35,522 kms",Diesel\nMahindra Scorpio S10 4WD,Mahindra,2015,"2,50,000","48,508 kms",Diesel\nMaruti Suzuki Swift Vdi BSIII,Maruti,2017,"1,80,000","15,487 kms",Petrol\nMaruti Suzuki Wagon R VXi BS III,Maruti,2013,"1,05,000","39,000 kms",Petrol\nMaruti Suzuki Wagon R VXi Minor,Maruti,2013,"1,05,000","39,000 kms",Petrol\nMahindra Scorpio S10,Mahindra,2015,"3,95,000","35,000 kms",Diesel\nMaruti Suzuki Swift VXi 1.2 ABS BS IV,Maruti,2017,"2,20,000","30,874 kms",Petrol\nHonda City ZX CVT,Honda,2017,"1,70,000","15,000 kms",Diesel\nMaruti Suzuki Wagon R LX BS IV,Maruti,2013,"85,000","29,685 kms",Petrol\nFord Figo,Ford,2012,"1,75,000","41,000 kms",Diesel\nHyundai Eon,Hyundai,2013,"1,90,000","25,000 kms",Petrol\nTata Indigo eCS LS CR4 BS IV,Tata,2017,"2,00,000","1,30,000 kms",Diesel\nFord EcoSport Ambiente 1.5L TDCi,Ford,2016,"8,30,000","24,530 kms",Diesel\nTata Indigo eCS LS CR4 BS IV,Tata,2017,"2,00,000","1,30,000 kms",Diesel\nMahindra Scorpio SLE BS IV,Mahindra,2012,"5,70,000","19,000 kms",Diesel\nVolkswagen Polo Highline Exquisite P,Volkswagen,2014,"3,15,000","60,000 kms",Petrol\nSkoda Fabia Classic 1.2 MPI,Skoda,2010,"1,82,000","60,000 kms",Petrol\nMaruti Suzuki Stingray VXi,Maruti,2015,"3,15,000","30,000 kms",Petrol\nI want to sell my car Tata Zest,I,2017,Ask For Price,,\nChevrolet Spark LS 1.0,Chevrolet,2010,"1,10,000","41,000 kms",Petrol\nRenault Duster 110PS Diesel RxZ,Renault,2012,"5,01,000","35,000 kms",Diesel\nHonda City,Honda,2015,"4,48,999","54,000 kms",Petrol\nMini Cooper S 1.6,Mini,2013,"18,91,111","13,000 kms",Petrol\nDatsun Redi GO S,Datsun,2017,"2,35,000","16,000 kms",Petrol\nSkoda Fabia 1.2L Diesel Ambiente,Skoda,2011,"1,59,500","38,200 kms",Diesel\nHonda Amaze,Honda,2015,"3,44,999","22,000 kms",Petrol\nHonda Amaze,Honda,2015,"3,44,999","22,000 kms",Petrol\nRenault Duster,Renault,2014,"4,49,999","50,000 kms",Diesel\nMini Cooper S 1.6,Mini,2013,"18,91,111","13,500 kms",Petrol\nMahindra Scorpio S4,Mahindra,2015,"8,65,000","30,000 kms",Diesel\nMahindra Scorpio VLX 2WD BS IV,Mahindra,2014,"6,99,000","50,000 kms",Diesel\nMahindra Quanto C8,Mahindra,2013,"3,75,000","20,000 kms",Diesel\nFord EcoSport,Ford,2017,"4,89,999","39,000 kms",Petrol\nHonda Brio,Honda,2012,"2,24,999","30,000 kms",Petrol\nI want to sell my car Tata Zest,I,2017,Ask For Price,,\nVolkswagen Vento Highline Plus 1.5 Diesel AT,Volkswagen,2019,"12,00,000","3,600 kms",Diesel\nHyundai i20 Magna,Hyundai,2009,"1,95,000","32,000 kms",Petrol\nToyota Corolla Altis Diesel D4DG,Toyota,2010,"3,51,000","38,000 kms",Diesel\nHyundai Verna Transform SX VTVT,Hyundai,2008,"1,60,000","45,000 kms",Petrol\nToyota Corolla Altis Petrol Ltd,Toyota,2009,"2,40,000","35,000 kms",Petrol\nHonda City 1.5 EXi New,Honda,2005,"90,000","50,000 kms",Petrol\nHyundai Elite i20 Magna 1.2,Hyundai,2014,"4,15,000","32,000 kms",Petrol\nSkoda Fabia 1.2L Diesel Elegance,Skoda,2011,"1,55,000","45,863 kms",Diesel\nBMW 3 Series 320i,BMW,2011,"6,00,000","60,500 kms",Petrol\nMaruti Suzuki A Star Lxi,Maruti,2011,"1,89,500","12,500 kms",Petrol\nToyota Etios GD,Toyota,2013,"3,50,000","60,000 kms",Diesel\nFord Figo Diesel EXI Option,Ford,2012,"2,10,000","35,000 kms",Diesel\nMaruti Suzuki Swift Dzire VXi 1.2 BS IV,Maruti,2014,"3,90,000","35,000 kms",Petrol\nChevrolet Beat LT Diesel,Chevrolet,2012,"1,35,000","45,000 kms",Diesel\nBMW 7 Series 740Li Sedan,BMW,2009,"16,00,000","35,000 kms",Petrol\nMahindra XUV500 W8 AWD 2013,Mahindra,2013,"7,01,000","38,000 kms",Diesel\nHyundai i10 Magna 1.2,Hyundai,2014,"2,65,000","18,000 kms",Petrol\nHyundai Verna Fluidic New,Hyundai,2015,"5,25,000","35,000 kms",Diesel\nMaruti Suzuki Swift VXi 1.2 BS IV,Maruti,2013,"3,72,000","13,349 kms",Petrol\nMaruti Suzuki Ertiga ZXI Plus,Maruti,2016,"6,35,000","29,000 kms",Petrol\nFord EcoSport Titanium 1.5L TDCi,Ford,2014,"5,50,000","44,000 kms",Diesel\nMaruti Suzuki Ertiga Vxi,Maruti,2016,"5,75,000","29,000 kms",Petrol\nMaruti Suzuki Ertiga VDi,Maruti,2013,"4,85,000","42,000 kms",Diesel\nMaruti Suzuki Alto LXi BS III,Maruti,2012,"1,55,000","14,000 kms",Petrol\nHyundai Grand i10 Asta 1.1 CRDi,Hyundai,2014,"3,45,000","49,000 kms",Diesel\nHonda Amaze 1.2 S i VTEC,Honda,2014,"3,25,000","42,000 kms",Petrol\nHyundai i20 Asta 1.4 CRDI 6 Speed,Hyundai,2012,"3,29,500","36,200 kms",Diesel\nFord Figo Diesel EXI,Ford,2014,"1,95,000","50,000 kms",Diesel\nMaruti Suzuki Eeco 5 STR WITH AC HTR,Maruti,2015,"2,51,111","55,000 kms",Petrol\nMaruti Suzuki Ertiga ZXi,Maruti,2014,"5,69,999","45,000 kms",Petrol\nMaruti Suzuki Esteem LXi BS III,Maruti,2007,"69,999","51,000 kms",Petrol\nMaruti Suzuki Ritz VXI,Maruti,2014,"2,99,999","19,000 kms",Petrol\nMaruti Suzuki Dzire,Maruti,2009,"2,20,000","46,000 kms",Petrol\nMaruti Suzuki Ritz LDi,Maruti,2013,"3,99,999","33,000 kms",Diesel\nMaruti Suzuki Swift VXi 1.2 BS IV,Maruti,2013,"3,72,000","13,349 kms",Petrol\nMaruti Suzuki Dzire VDI,Maruti,2015,"4,50,000","1,04,000 kms",Diesel\nToyota Etios Liva G,Toyota,2014,"2,70,000","55,000 kms",Petrol\nHyundai i20 Sportz 1.4 CRDI,Hyundai,2011,"3,50,000","33,333 kms",Diesel\nChevrolet Spark,Chevrolet,2012,"1,58,400","33,600 kms",Petrol\nMaruti Suzuki Alto K10 VXi AMT,Maruti,2017,"3,50,000","5,600 kms",Petrol\nNissan Micra XV,Nissan,2011,"1,79,000","41,000 kms",Petrol\nMaruti Suzuki Swift,Maruti,2007,"1,25,000","70,000 kms",Petrol\nMaruti Suzuki Alto 800,Maruti,2018,"2,00,000","7,500 kms",Petrol\nHonda Amaze 1.5 S i DTEC,Honda,2013,"2,99,000","45,000 kms",Diesel\nMaruti Suzuki Alto 800 Vxi,Maruti,2015,"2,20,000","38,000 kms",Petrol\nChevrolet Beat,Chevrolet,2015,"1,50,000","30,000 kms",Petrol\nToyota Corolla,Toyota,2009,"2,75,000","26,000 kms",\nHonda City 1.5 V MT,Honda,2010,"2,85,000","35,000 kms",Petrol\nFord EcoSport Trend 1.5L TDCi,Ford,2016,"8,30,000","24,330 kms",Diesel\nHyundai i20 Asta 1.2,Hyundai,2009,"2,10,000","65,480 kms",Petrol\nMaruti Suzuki Swift Dzire VXi 1.2 BS IV,Maruti,2013,"3,40,000","41,000 kms",Petrol\nTata Indica V2 eLS,Tata,2006,"90,000","20,000 kms",Petrol\nMaruti Suzuki Alto 800 Lxi,Maruti,2018,Ask For Price,"28,028 kms",Petrol\nHindustan Motors Ambassador,Hindustan,2000,"70,000","2,00,000 kms",Diesel\nToyota Corolla Altis 1.8 GL,Toyota,2010,"2,89,999","70,000 kms",Petrol\nToyota Corolla Altis 1.8 J,Toyota,2012,"3,49,999","59,000 kms",Petrol\nToyota Innova 2.5 GX BS IV 7 STR,Toyota,2012,"8,49,999","99,000 kms",Diesel\nVolkswagen Jetta Highline TDI AT,Volkswagen,2014,"7,49,999","46,000 kms",Diesel\nVolkswagen Polo Comfortline 1.2L P,Volkswagen,2015,"3,99,999","2,800 kms",Petrol\nVolkswagen Polo,Volkswagen,2014,"2,74,999","32,000 kms",Petrol\nMahindra Scorpio,Mahindra,2015,"9,84,999","22,000 kms",Diesel\nRenault Duster,Renault,2014,"4,49,999","50,000 kms",Diesel\nHonda Amaze,Honda,2015,"3,44,999","22,000 kms",Petrol\nNissan Sunny,Nissan,2012,"2,24,999","45,000 kms",Petrol\nHyundai Elite i20,Hyundai,2018,"5,99,999","21,000 kms",Petrol\nRenault Kwid,Renault,2016,"2,44,999","11,000 kms",Petrol\nRenault Duster,Renault,2013,"3,99,999","41,000 kms",Diesel\nFord EcoSport,Ford,2017,"4,89,999","39,000 kms",Petrol\nRenault Duster,Renault,2014,"4,74,999","50,000 kms",Diesel\nMahindra Scorpio VLX Airbag,Mahindra,2011,"4,99,999","66,000 kms",Diesel\nMaruti Suzuki Alto 800 Lxi,Maruti,2018,"3,10,000","3,000 kms",Petrol\nChevrolet Spark LT 1.0,Chevrolet,2010,"85,000","45,000 kms",Petrol\nDatsun Redi GO T O,Datsun,2016,"2,45,000","7,000 kms",Petrol\nMaruti Suzuki Swift RS VDI,Maruti,2010,"1,89,500","38,500 kms",Diesel\nFiat Punto Emotion 1.2,Fiat,2012,"1,69,500","37,200 kms",Diesel\nMaruti Suzuki Swift RS VDI,Maruti,2010,"1,59,500","43,200 kms",Diesel\nToyota Etios GD,Toyota,2013,"2,75,000","24,800 kms",Petrol\nHyundai i20 Sportz 1.4 CRDI,Hyundai,2014,"3,70,000","60,000 kms",Diesel\nHyundai i10 Sportz 1.2,Hyundai,2010,"1,68,000","45,872 kms",Petrol\nChevrolet Beat LT Opt Diesel,Chevrolet,2011,"1,50,000","40,000 kms",Diesel\nChevrolet Beat LS Diesel,Chevrolet,2011,"1,45,000","45,000 kms",Diesel\nChevrolet Beat LT Diesel,Chevrolet,2012,"98,500","38,000 kms",Diesel\nMahindra Scorpio VLX 2WD BS IV,Mahindra,2014,"6,99,000","50,000 kms",Diesel\nTata Indigo CS,Tata,2011,"85,000","11,400 kms",Diesel\nToyota Corolla Altis 1.8 J,Toyota,2015,"5,75,000","42,000 kms",Petrol\nHonda City 1.5 V MT,Honda,2014,"5,49,000","39,000 kms",Petrol\nMaruti Suzuki Swift VDi,Maruti,2011,"2,09,000","47,000 kms",Diesel\nHyundai Eon Era Plus,Hyundai,2013,"1,85,000","27,000 kms",Petrol\nMahindra Scorpio S10,Mahindra,2015,"9,00,000","97,200 kms",Diesel\nMahindra XUV500,Mahindra,2014,"6,99,999","52,000 kms",Diesel\nHonda Brio,Honda,2012,"2,24,999","30,000 kms",Petrol\nFord Fiesta,Ford,2011,"2,74,999","55,000 kms",Diesel\nHonda Amaze,Honda,2013,"2,84,999","46,000 kms",Diesel\nHonda City,Honda,2015,"5,99,999","30,000 kms",Diesel\nMaruti Suzuki Wagon R,Maruti,2012,"1,99,999","44,000 kms",Petrol\nHonda City,Honda,2014,"5,44,999","45,000 kms",Diesel\nHyundai i20,Hyundai,2009,"1,99,000","31,000 kms",Petrol\nTata Indigo eCS LX TDI BS III,Tata,2016,"3,20,000","1,75,430 kms",Diesel\nHyundai Fluidic Verna 1.6 CRDi SX,Hyundai,2015,"5,40,000","38,000 kms",Diesel\n"Commercial , DZire LDI, 2016, for sale",Commercial,...,Ask For Price,,\nMahindra Quanto C8,Mahindra,2013,"3,40,000","37,000 kms",Diesel\nFiat Petra ELX 1.2 PS,Fiat,2008,"75,000","65,000 kms",Petrol\nSkoda Fabia 1.2L Diesel Ambiente,Skoda,2011,"1,59,500","38,200 kms",Diesel\nMini Cooper S 1.6,Mini,2013,"18,91,111","13,000 kms",Petrol\nHyundai Santro Xing XS,Hyundai,2005,"49,000","7,500 kms",Petrol\nMaruti Suzuki Ciaz VXi Plus,Maruti,2016,"7,00,000","3,350 kms",Petrol\nMaruti Suzuki Zen VX,Maruti,2000,"55,000","60,000 kms",Petrol\nHonda City,Honda,2015,"4,48,999","54,000 kms",Petrol\nHyundai Creta 1.6 SX Plus Petrol,Hyundai,2017,"8,95,000","32,000 kms",Petrol\n"Tata indigo ecs LX, 201",Tata,150k,"1,50,000",,\nMahindra Scorpio SLX,Mahindra,2007,"3,55,000","75,000 kms",Diesel\nMahindra Scorpio SLE BS IV,Mahindra,2012,"5,65,000","62,000 kms",Diesel\nToyota Innova 2.5 G BS III 8 STR,Toyota,2006,"3,65,000","73,000 kms",Diesel\nMaruti Suzuki Alto K10 VXi AMT,Maruti,2011,"1,45,000","41,000 kms",Petrol\nMaruti Suzuki Wagon R LXI BS IV,Maruti,2011,"2,10,000","35,000 kms",Petrol\nTata Nano Cx BSIV,Tata,2013,"40,000","2,200 kms",Petrol\nMaruti Suzuki Alto Std BS IV,Maruti,2013,"1,25,000","39,000 kms",Petrol\nMaruti Suzuki Wagon R LXi BS III,Maruti,2009,"1,35,000","45,000 kms",Petrol\nMaruti Suzuki Swift VXI BSIII,Maruti,2006,"1,35,000","45,000 kms",Petrol\nTata Sumo Victa EX 10 by 7 Str BSIII,Tata,2012,"2,85,000","65,000 kms",Diesel\nMARUTI SUZUKI DESI,MARUTI,TOUR,"4,00,000",,\nMaruti Suzuki Wagon R LXi BS III,Maruti,2010,"1,45,000","54,870 kms",Petrol\nMaruti Suzuki Alto LXi BS III,Maruti,2010,"1,35,000","34,580 kms",Petrol\nVolkswagen Passat Diesel Comfortline AT,Volkswagen,2009,"4,50,000","97,000 kms",Diesel\nRenault Scala RxL Diesel Travelogue,Renault,2015,"3,75,000","25,000 kms",Diesel\nMahindra Quanto C8,Mahindra,2013,"3,75,000","20,000 kms",Diesel\nHyundai Grand i10 Sportz O 1.2 Kappa VTVT,Hyundai,2014,"3,65,000","20,000 kms",Petrol\nHyundai i20 Active 1.2 SX,Hyundai,2015,"5,00,000","18,000 kms",Petrol\nMahindra Xylo E4,Mahindra,2012,"4,00,000","35,000 kms",Diesel\nMahindra Jeep MM 550 XDB,Mahindra,2019,"3,90,000",60 kms,Diesel\nRenault Duster 110PS Diesel RxZ,Renault,2012,"5,01,000","35,000 kms",Diesel\nMahindra Bolero SLE BS IV,Mahindra,2013,"3,30,000","80,200 kms",Diesel\nForce Motors Force One LX ABS 7 STR,Force,2015,"5,80,000","3,200 kms",Diesel\nMaruti Suzuki SX4,Maruti,2012,"2,65,000","46,000 kms",Diesel\nMahindra Jeep CL550 MDI,Mahindra,2019,"3,79,000","0,000 kms",Diesel\nMaruti Suzuki Alto 800,Maruti,2015,"2,19,000","5,000 kms",Petrol\nMahindra Jeep CL550 MDI,Mahindra,2018,"3,85,000",588 kms,Diesel\nToyota Etios,Toyota,2011,"2,75,000","36,000 kms",Diesel\nVolkswagen Polo,Volkswagen,2015,"3,30,000","38,000 kms",Diesel\nHonda City ZX VTEC,Honda,2008,"1,10,000","45,000 kms",Petrol\nMaruti Suzuki Wagon R LX BS III,Maruti,2006,"80,000","71,200 kms",Petrol\nHonda City VX O MT Diesel,Honda,2016,"5,19,000","52,000 kms",Diesel\nMahindra Thar CRDe 4x4 AC,Mahindra,2016,"7,30,000","29,000 kms",Diesel\nMitsubishi Pajero Sport Limited Edition,Mitsubishi,2015,"14,75,000","47,000 kms",Diesel\nAudi A4 1.8 TFSI Multitronic Premium Plus,Audi,2009,"6,99,000","47,000 kms",Petrol\nMercedes Benz GLA Class 200 CDI Sport,Mercedes,2015,"20,00,000","20,000 kms",Diesel\nLand Rover Freelander 2 SE,Land,2015,"21,00,000","30,000 kms",Diesel\nRenault Kwid RXT,Renault,2017,"3,40,000","5,000 kms",Petrol\nTata Aria Pleasure 4X2,Tata,2014,"3,90,000","35,000 kms",Diesel\nMercedes Benz B Class B180 Sports,Mercedes,2014,"14,00,000","31,000 kms",Petrol\nDatsun GO T O,Datsun,2016,"2,45,000","7,000 kms",Petrol\nTata Indigo eCS LX TDI BS III,Tata,2016,"3,20,000","1,75,430 kms",Diesel\nTata Indigo eCS LX TDI BS III,Tata,2016,"3,20,000","1,75,400 kms",Diesel\nHonda Jazz VX MT,Honda,2016,"4,50,000","41,000 kms",Petrol\nHonda Amaze 1.2 S i VTEC,Honda,2014,"3,11,000","33,000 kms",Petrol\nHonda Amaze,Honda,2013,"2,84,999","46,000 kms",Diesel\nHonda City,Honda,2012,"3,99,999","45,000 kms",Petrol\nHonda City,Honda,2015,"5,99,999","39,000 kms",Diesel\nHonda Amaze,Honda,2015,"3,44,999","22,000 kms",Petrol\nAudi A4 1.8 TFSI Multitronic Premium Plus,Audi,2009,"6,99,000","47,000 kms",Petrol\nForce Motors Force One LX ABS 7 STR,Force,2015,"5,80,000","3,200 kms",Diesel\nMahindra Scorpio S4,Mahindra,2015,"8,55,000","30,000 kms",Diesel\nHyundai i20 Active 1.4L SX O,Hyundai,2015,"5,35,000","37,000 kms",Diesel\nMini Cooper S,Mini,2013,"18,91,111","13,000 kms",Petrol\nMaruti Suzuki Ciaz ZXI Plus,Maruti,2017,"6,99,000","14,000 kms",Petrol\nChevrolet Tavera Neo,Chevrolet,2013,"3,75,000","55,000 kms",Diesel\nHonda Amaze,Honda,2013,"2,84,999","46,000 kms",Diesel\nHyundai Eon Sportz,Hyundai,2012,"1,78,000","30,000 kms",Petrol\nTata Sumo Gold Select Variant,Tata,2013,"3,00,000","50,000 kms",Diesel\nMaruti Suzuki Wagon R 1.0,Maruti,2003,"90,000","45,000 kms",Petrol\nMaruti Suzuki Esteem VXi BS III,Maruti,2006,"95,000","45,000 kms",Petrol\nMaruti Suzuki Eeco 5 STR WITH AC HTR,Maruti,2015,"2,55,000","9,300 kms",Petrol\nChevrolet Enjoy 1.4 LS 8 STR,Chevrolet,2013,"2,45,000","55,000 kms",Diesel\nHyundai i20 Asta 1.4 CRDI 6 Speed,Hyundai,2012,"3,29,500","36,200 kms",Diesel\nFord Figo Diesel EXI,Ford,2014,"1,95,000","50,000 kms",Diesel\nMaruti Suzuki Eeco 5 STR WITH AC HTR,Maruti,2015,"2,51,111","55,000 kms",Petrol\nMaruti Suzuki Ertiga ZXi,Maruti,2014,"5,69,999","45,000 kms",Petrol\nMaruti Suzuki Esteem LXi BS III,Maruti,2007,"69,999","51,000 kms",Petrol\nMaruti Suzuki Ritz VXI,Maruti,2014,"2,99,999","19,000 kms",Petrol\nMaruti Suzuki Dzire,Maruti,2009,"2,20,000","46,000 kms",Petrol\nMaruti Suzuki Ritz LDi,Maruti,2013,"3,99,999","33,000 kms",Diesel\nMaruti Suzuki SX4 ZXI MT,Maruti,2010,"2,49,999","36,000 kms",Petrol\nMaruti Suzuki Wagon R 1.0 VXi,Maruti,2015,"2,89,999","22,000 kms",Petrol\nMini Cooper S 1.6,Mini,2013,"18,91,111","13,500 kms",Petrol\nNissan Terrano XL D Plus,Nissan,2015,"4,99,999","60,000 kms",Diesel\nRenault Duster 85 PS RxE Diesel,Renault,2013,"4,89,999","27,000 kms",Diesel\nRenault Duster 85 PS RxE Diesel,Renault,2014,"4,89,999","59,000 kms",Diesel\nRenault Duster 85 PS RxL Diesel,Renault,2015,"5,49,999","19,000 kms",Diesel\nMaruti Suzuki Dzire ZXI,Maruti,2013,"3,80,000","30,000 kms",Petrol\nRenault Kwid RXT Opt,Renault,2018,"3,25,000","15,000 kms",Petrol\nMaruti Suzuki Maruti 800 Std,Maruti,2003,"57,000","56,758 kms",Petrol\nRenault Kwid 1.0 RXT AMT,Renault,2018,"3,49,999","10,000 kms",Petrol\nRenault Lodgy 85 PS RXL,Renault,2018,"6,89,999","20,000 kms",Diesel\nRenault Scala RxL Diesel,Renault,2014,"3,49,999","49,000 kms",Diesel\nHyundai Grand i10 Asta 1.2 Kappa VTVT O,Hyundai,2014,"4,10,000","41,000 kms",Petrol\nMaruti Suzuki Swift Dzire VXi 1.2 BS IV,Maruti,2011,"2,25,000","45,000 kms",Petrol\nChevrolet Beat LS Petrol,Chevrolet,2010,"1,20,000","43,000 kms",Petrol\nTata Indigo eCS LX TDI BS III,Tata,2016,"3,20,000","1,75,430 kms",Diesel\nHyundai Santro Xing XO eRLX Euro III,Hyundai,2000,"59,000","56,450 kms",Petrol\nHyundai Fluidic Verna 1.6 CRDi SX,Hyundai,2015,"5,40,000","38,000 kms",Diesel\n"Commercial , DZire LDI, 2016, for sale",Commercial,...,Ask For Price,,\nChevrolet Beat LS Petrol,Chevrolet,2010,"80,000","56,000 kms",Petrol\nMahindra Quanto C8,Mahindra,2013,"3,40,000","37,000 kms",

In [532]:
df=pd.read_csv('quikr_car.csv')

In [533]:
df.head()

                                     name   company  ...  kms_driven fuel_type
0    Hyundai Santro Xing XO eRLX Euro III   Hyundai  ...  45,000 kms    Petrol
1                 Mahindra Jeep CL550 MDI  Mahindra  ...      40 kms    Diesel
2              Maruti Suzuki Alto 800 Vxi    Maruti  ...  22,000 kms    Petrol
3  Hyundai Grand i10 Magna 1.2 Kappa VTVT   Hyundai  ...  28,000 kms    Petrol
4        Ford EcoSport Titanium 1.5L TDCi      Ford  ...  36,000 kms    Diesel

[5 rows x 6 columns]

In [ ]:
df.shape

(892, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [ ]:
## 6 columns are there : all are in object. 
# - name : no null values
# - company : no null values
# - year : no null values | *convert it into numeric
# - Price : no null values | *convert it into numeric
# - kms_driven : *null values | *convert it into numeric
# - fuel_type : *null values

In [ ]:
# name column : we will take only first 3 words of name.

In [ ]:
df.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [ ]:
df.name=df.name.str.split(' ').str[:3].str.join(' ')

In [ ]:
df.head()

                     name   company  year          Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007         80,000  45,000 kms    Petrol
1     Mahindra Jeep CL550  Mahindra  2006       4,25,000      40 kms    Diesel
2      Maruti Suzuki Alto    Maruti  2018  Ask For Price  22,000 kms    Petrol
3       Hyundai Grand i10   Hyundai  2014       3,25,000  28,000 kms    Petrol
4  Ford EcoSport Titanium      Ford  2014       5,75,000  36,000 kms    Diesel

In [ ]:
df.company.unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

In [ ]:
#There are some numeric values in company column. lets remove them.

In [ ]:
df=df[~df.company.str.isnumeric()]

In [ ]:
df.year.unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'd Ex', 'n...', 'e...', 'go .', 'k...',
       'o c4', 'zire', 'cent', 'Sumo', 'cab', 't xe', 'EV2', 'r...',
       'zest'], dtype=object)

In [ ]:
#Lets remove non numeric values from year column and also convert column to int from object.

In [ ]:
df=df[df.year.str.isnumeric()]

In [ ]:
df.year=df.year.astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [ ]:
#Lets remove non numeric values and ',' from price column and convert price column to int.

In [ ]:
df.Price=df.Price.str.replace(',','')

In [ ]:
df=df[df.Price.str.isnumeric()]

In [ ]:
df.Price=df.Price.astype(int)

In [ ]:
df.kms_driven=df.kms_driven.str.replace(',','').str.split().str[0]

In [ ]:
df[~df.kms_driven.str.isnumeric()]

                   name    company  year   Price kms_driven fuel_type
890     Honda Amaze 1.2      Honda  2014  180000     Petrol       NaN
891  Chevrolet Sail 1.2  Chevrolet  2014  160000     Petrol       NaN

In [ ]:
#There are 2 Object type values present in kms_driven. Lets drop them and convert it to int column.

In [ ]:
df=df[df.kms_driven.str.isnumeric()]

In [ ]:
df.kms_driven=df.kms_driven.astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [ ]:
#Lets create new column which will indicate how many years old the car is.

In [ ]:
df['yr_old']=2021-df['year']

In [ ]:
df=df.drop('year',axis=1)

In [ ]:
df.isna().sum()

name          0
company       0
Price         0
kms_driven    0
fuel_type     1
yr_old        0
dtype: int64

In [569]:
#There is one nan value in fuel_type column. lets remove it.

In [ ]:
df=df[~df.fuel_type.isna()]

In [ ]:
df.head()

                     name   company   Price  kms_driven fuel_type  yr_old
0     Hyundai Santro Xing   Hyundai   80000       45000    Petrol      14
1     Mahindra Jeep CL550  Mahindra  425000          40    Diesel      15
3       Hyundai Grand i10   Hyundai  325000       28000    Petrol       7
4  Ford EcoSport Titanium      Ford  575000       36000    Diesel       7
6               Ford Figo      Ford  175000       41000    Diesel       9

**Lets build model by using column transformer, onehotencoder and pipeline. Lets use Linear Regression. **

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [531]:
x=df.drop(columns='Price')

In [ ]:
y=df.Price

In [567]:
l=[]
for i in range(1000):
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=i)
    ohe=OneHotEncoder()
    ohe.fit(x[['name','company','fuel_type']])
    ctr=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')
    pipe=make_pipeline(ctr,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    r2=r2_score(y_test,y_pred)
    l.append(r2)

In [570]:
np.argmax(l)

661

In [568]:
l[np.argmax(l)]

0.9026900131079775

In [571]:
import pickle

In [576]:
pickle.dump(pipe,open('quicker_car.pkl','wb'))

In [577]:
ls

quicker_car.pkl  quikr_car.csv  sample_data/

In [579]:
x.columns

Index(['name', 'company', 'kms_driven', 'fuel_type', 'yr_old'], dtype='object')

In [589]:
#Predict

In [588]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',1000,'Petrol',2]],columns=['name','company','kms_driven','fuel_type','yr_old']))

array([418414.13253831])